<form action="Welcome" method="post">
    </br>
    </br>

    User Name: <input type="text" id="FirstName" name="firstName" />
    Email: <input type="email" id="Email" name="email" pattern="^([\w\.\-]+)\@('@')([\w\-]{2,}?)((\.(\w){2,3})+)$" />
    Password: <input type="password" id="Password" minlength="8" maxlength="30" name="password" required />
                     <br />
    <br />

    <input type="checkbox" name="Cat" id="Cat" value="Cat"> I have a cat<br>
    <input type="checkbox" name="Dog" id="Dog" value="Dog"> I have a dog<br>
    <input type="checkbox" name="Bantha" id="Bantha" value="Bantha" checked> I have a bantha<br>
    <input type="submit" value="Submit" />
    <br />
    <br />
</form>






